@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Dawit<br />
   La,Ca 90032<br />
    <abbr title="Phone">P:</abbr>
    213.446.9297
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:dawityhaile@gmail.com">Support@example.com</a><br />

</address>
